/* VARIABLES */
:root{
    --falured: #780214;
    --lighterred: #EF1A28;
    --whitesmoke: #F5F5F5;
}

/* FONTS */
@font-face {
    font-family: 'Loft-2';
    src: url('./Fonts/loft-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Loft-5';
    src: url('./Fonts/loft-5.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: "Loft-5", sans-serif;
}

footer .list-inline {
    font-size: 2.3em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: var(--falured); color: white;
}

body {
    background-image: url(./images/trianglify-image-2.png);
}

/* NAVBAR */
@media screen and (min-width: 1000px) {
    .icon-mob {
        display: none;
    }

    .navbar-logo-wrapper {
        display: flex;
        align-items: center;
    }
    
    .navbar-logo {
        margin-right: 10px;
    }

    .logo {
        width: 300px;
        padding-left: 150px;
    }

    .container-nav {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        width: auto;
        z-index: 1000;
    }
    
    .navigation {
        font-family: 'Loft-5', sans-serif;
        font-weight: bold;
        font-size: 22px;
        width: 100%;
        height: 120px;
        background-color: var(--falured);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation ul {
        display: flex;
        width: 1050px;
    }

    .navigation ul li {
        position: relative;
        list-style: none;
        width: 1500px;
        height: 110px;
        z-index: 1;
    }

    .navigation ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navigation ul li a .icon {
        position: relative;
        display: block;
        line-height: 105px;
        font-size: 2.3em;
        text-align: center;
        transition: 0.55s;
        color: white;
    }

    .navigation ul li:hover a .icon {
        transform: translateY(30px);
    }

    .navigation ul li.active a .icon {
        transform: translateY(30px);
    }

    .navigation ul li a .text-page {
        position: absolute;
        color: white;
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.55s;
        opacity: 0;
    }

    .navigation ul li:hover a .text-page {
        transform: translateY(-20px);
        opacity: 1;
    }

    .navigation ul li.active a .text-page {
        transform: translateY(-20px);
        opacity: 1;
    }

    .toggle-btn{
        display: none;
    }

    .user{
        border-right: 3px solid var(--lighterred);
    }
}

@media screen and (max-width: 1000px) {
    .toggle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        background-color: var(--falured);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 22px;
        color: var(--whitesmoke);
        position: relative;
        z-index: 1001;
    }
    
    .navigation {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        padding: 20px;
        position: fixed;
        top: 3%;
        right: 10px;
        overflow: hidden;
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;
        transform: translateY(-100%);
        background-color: var(--falured);
    }
    
    .navigation.active {
        opacity: 1;
        transform: translateY(0);
        display: block;
        background-color: var(--falured);
        padding-top: 5%;
        z-index: 999;
    }
    
    header {
        background-color: var(--falured);
    }
    
    .toggle-btn ion-icon {
        font-size: 1.5em;
        margin-right: 5px;
        z-index: 100;
    }

    .toggle-text {
        text-align: center;
        font-size: 22px;
        color: var(--whitesmoke);
        margin-top: 10px;
    }
    
    .container-nav {
        background-color: var(--falured);
        justify-content: center;
        text-align: center;
    }

    .navigation ul {
        padding: 0;
    }

    .navigation ul li {
        list-style: none;
        margin-bottom: 10px;
    }

    .navigation ul li a {
        text-decoration: none;
        font-family: 'Loft-2', sans-serif;
        color: var(--whitesmoke);
        transition: color 0.3s ease;
    }

    .navigation ul li a:hover {
        color: var(--whitesmoke);
    }

    .icon {
        display: none;
    }

    .container.p-5.text-center.register {
        padding: 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-8, .col-4 {
        width: 100%; 
        max-width: none; 
        padding: 0;
    }

    .accordion-container {
        margin-top: 20px; 
        width: 100%;
    }

    .user{
        border-bottom: 3px solid var(--lighterred);
        padding-bottom: 2%;
    }

    .charity{
        padding-top: 2%;
    }

    .col-4 {
        display: none;
    }
}

/* NEWS */
@media screen and (min-width: 1100px) {
    .news {
        right: 0;
        /* Зафиксируйте блок справа */
        width: 25%;
        height: 100vh;
        /* Сделайте блок на всю высоту страницы */
        background-color: #e1e1e1;
        /* Задайте желаемый цвет фона */
        overflow-y: auto;
        /* Добавьте прокрутку, если контент выходит за пределы блока */
        /* padding: 20px; */
        /* Добавьте отступы по вашему усмотрению */
        box-sizing: border-box;
        /* Учитывайте отступы и границы в общую ширину и высоту */
        /* background-image: url(./awdas.png); */
    }

    .bg-red {
        background-color: var(--falured);
    }

    .news-fix {
        top: 0;
        position: fixed;
    }

    .news h1 {
        color: var(--falured);
        margin: 43px 0 0 40px;
    }

    .contet-news {
        padding-left: 40px;
        font-size: 25px;
    }

    .news .btn {
        background-color: aliceblue;
    }
}

/* INST CARD */
a {
    text-decoration: none;
}

.instagram-card {
    background: #ffffff;
    /* border: 1px solid #f2f2f2; */
    border-left: 5px solid var(--falured);
    border-right: 5px solid var(--falured);
    border-radius: 3px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.instagram-card-header {
    padding: 20px;
    height: 40px;
}

.instagram-card-image img {
    height: 598px;
    width: 100%;
    margin-top: 10px;
}

.instagram-card-user-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.instagram-card-time {
    float: right;
    width: 80px;
    padding-top: 10px;
    text-align: right;
    color: #999;
}

.instagram-card-user-name {
    margin-left: 20px;
    font-weight: bold;
    color: #262626;
}

.instagram-card-content {
    padding: 20px;
}

.footer-icons ion-icon {
    font-size: 1.7rem;
}

.footer-icons ion-icon[name="heart"] {
    color: red;
}

.footer-icons ion-icon[name="chatbubble"] {
    color: green;
}

.footer-icons ion-icon[name="paper-plane"] {
    color: burlywood;
}

.likes {
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    .col-5 {
        display: none;
    }
    .row{
        display: flex;
        justify-content: center;
    }

    .row .col-7{
        width: 100%;
    }

    .instagram-card-time {
        padding-right: 15px;
    }
    .instagram-card-content {
        padding-right: 25px;
    }
    .instagram-card-image img {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        border: 10px solid var(--falured);
    }
    
    .instagram-card-content p{
        padding-right: 10px;
    }
}