.aboutus1{
    text-align: center;
    font-size: 19px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.aboutus2{

    display: flex;
    
    justify-content: center; 
    align-items: center;    
     height: 100%;
    padding: 15px;
    gap: 5px;

  }

  


  .item1 { 
    /* flex:0.4 1 auto; */
    flex-grow:0.3;
    margin-left: 80px;
  }
			
  .item2 { 
    /* flex:0.6 1 auto; */
    flex-grow:0.5;
    font-size: 17px;
    margin-right: 80px;
    margin-left: 80px;
    border:none;
    border-radius: 10px;
    
  }

  img {
    width: 100%;
    height: auto;
}

/* Media query for screens with a width of 600px or larger */
@media screen and (min-width: 600px) {
    /* Adjusting the size of the image for larger screens */
    img {
        max-width: 600px;
    }
}
  

  .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
 background-color: rgb(187, 84, 66);;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgb(7, 7, 7);;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 25em;
      
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }

  .card img {
    max-height: 100%;
    border-radius: 50%; /* Add this line */
    max-width: 70%;
    
}
    body{
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(187, 84, 66);
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: rgb(248, 247, 247); /* ADD THIS LINE */
  
  
  /* Background styles */
  background-image: url('/photos/charitydefinitive.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
  
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;
  
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  /* Text styles */
  color: white; /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;
  
  /* Border styles */
  border: 3px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}
  

  @media screen and (min-width: 1000px) {
    .icon-mob {
        display: none;
    }

    .logo {
        width: 300px;
        padding-left: 150px;
    }

    .container-nav {
        display: flex;
        justify-content: flex-end; /* Align items to the right side */
        align-items: center;
        width: auto; /* Adjust width as needed */
        z-index: 1000;
    }
    
    .navigation {
        font-family: 'Loft-2', sans-serif;
        font-size: 22px;
        width: 65%; /* Adjust the width as needed */
        height: 120px;
        background-color: var(--falured);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
       
        
    }

    .navigation ul {
        display: flex;
        width: 1050px;
    }

    .navigation ul li {
        position: relative;
        list-style: none;
        width: 1500px;
        height: 110px;
        z-index: 1;
    }

    .navigation ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navigation ul li a .icon {
        position: relative;
        display: block;
        line-height: 105px;
        font-size: 2.3em;
        text-align: center;
        transition: 0.55s;
        color: white;
    }

    .navigation ul li:hover a .icon {
        transform: translateY(30px);
    }

    .navigation ul li.active a .icon {
        transform: translateY(30px);
    }

    .navigation ul li a .text-page {
        position: absolute;
        color: white;
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.55s;
        opacity: 0;
    }

    .navigation ul li:hover a .text-page {
        transform: translateY(-20px);
        opacity: 1;
    }

    .navigation ul li.active a .text-page {
        transform: translateY(-20px);
        opacity: 1;
    }

    .toggle-btn{
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .toggle-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        background-color: var(--falured);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 22px;
        color: white; 
    }

    header {
        background-color: var(--falured);
    }

    .toggle-btn ion-icon {
        font-size: 1.5em;
        margin-right: 5px;
    }

    .toggle-text {
        text-align: center;
        font-size: 22px;
        color: white;
        margin-top: 10px;
    }

    .container-nav {
        justify-content: center;
        text-align: center;
        
    }

    .navigation {
        width: 80%;
        max-width: 400px; 
        height: auto;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 60px;
        right: 10px; 
        display: none; 
        z-index: 1000;
        opacity: 0;
        transition: opacity 10s ease;
    }

    .fadeIn {
        display: block; 
        opacity: 1; 
    }

    .navigation.active {
        display: block; 
    }

    .navigation ul {
        padding: 0;
    }

    .navigation ul li {
        list-style: none;
        margin-bottom: 10px;
    }

    .navigation ul li a {
        text-decoration: none;
        font-family: 'Loft-2', sans-serif;
        color: white;
        transition: color 0.3s ease;
    }

    .navigation ul li a:hover {
        color: lightgray;
    }

    .icon {
        display: none;
    }
}

 footer area /
footer {
    background-color: var(--falured); 
    color: var(--whitesmoke);
    margin-top: 120px;
}

footer .col-md-6{
    margin-top: 15px;
}

footer .list-inline{
    font-size: 2.3em;
}

footer a{
    text-decoration: none; 
    color: var(--whitesmoke);
    margin-top: 120px; /* Adjusted margin-top */
    padding-top: 20px; /* Added padding-top for spacing */
}



